:root{
	font-family:Cambria;
	font-size:14pt;
	margin-left:10%;
	margin-top:5%;
	background-color:coral;
	color:yellow;
	line-height:2rem;
}
header{
	text-align:center;
}
fieldset{
	width:90%;
}
table {
	width:90%;
}
table, th, td {
	border:solid 1px green;
}