:root {
	font-family:Calibri;
	font-size:12pt;
	font-weight:bold;
	color:white;
	background-color:blue;
	line-height:1.75rem;
	margin-left:10%;
}

header{
	text-align:center;
}

form > label {
	position:absolute;
	left:10%; 
}

form > input, select {
	position:absolute;
	left:35%; 
}

form  fieldset {
	position:absolute;
	left:10%;
	
}

input[type="submit"] {
	position:absolute;
	left:40%;
}