:root{
	font-family:Cambria;
	font-size:14pt;
	margin-left:10%;
	margin-top:5%;
	background-color:green;
	color:white;
	line-height:2.5rem;
}
header{
	text-align:center;
}
table, table th, table td {
	border:1px solid yellow;
}
fieldset{
	width:70%;
}
table {
	width:95%;
}
input[type="button"]{
	font-family:Calibri;
	font-size:14pt;
}